body{
	color: black;
	font-family: arial, helvetica, sans-serif;
}
h1{
	padding: 40px 40px 40px 40px;
	background-color: white;
	margin-bottom: 0px;
}
ol{
	margin-top: 0px;
	background-color: #ffffff;
}
.1div{
	margin-left: 200px;
	
}

